<section class="w-75 mx-auto bg-ma bg-main-light p-3 rounded-3 my-2">
<h1>Shoop Cart</h1>
<p class="txt-main">Total price : {{cartdetials.totalCartPrice |currency:' EGP '}}</p>
<div class="row border-bottom pb-2" *ngFor=" let item of cartdetials.products">
  <div class="col-md-1 ">
    <img [src]="item.product.imageCover" class="w-100" alt="">
  </div>
  <div class="col-md-11 d-flex justify-content-between align-content-center p-1">
    <!-- detials -->
    <div>
      <h3 class="h5">{{item.product.title}}</h3>
      <p class="txt-main">price: {{item.price |currency:'EGP'}}</p>
      <button class="btn p-0 m-0" (click)="removecartitem(item.product._id)"><i class="fa-regular fa-trash-can"></i> Remove</button>
    </div>
    <!-- buttons -->
    <div>
      <button class="btn border border-success mx-2 btncart" (click)="changecount(item.product._id ,item.count + 1)">+</button>
      <span>{{item.count}}</span>
      <button class="btn border border-success mx-2 btncart" (click)="changecount(item.product._id ,item.count - 1)">-</button>
    </div>
  </div>

</div>
<h4 class="txt-main text-center">Total price : {{cartdetials.totalCartPrice |currency:' EGP '}}</h4>
<button class="main-button" [routerLink]="['/chekout' ,cartdetials._id]">inlinePayment <img src="../../../assets/images/visa-1.svg" alt=""></button>
</section>
